/* Font Setting */
/* Poopins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Unbounded */
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Root Veriable */
:root {
    --primary-button-color: #BFFF47;
    --primary-font-color: #03151A;
    --secondery-bg-color: #022B36;
    --lato-font-family: "Lato", sans-serif;
    --background-color-blur: #03151AB2;
    --common-color: white;
    --sub-title: #CED3D4;
    --bg-color-success: #E3DFDC;
}

/* All Container */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

/*  Container-discover-section  */
.container-hero-discover {
    max-width: 1392px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Column common style */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 15px;
    box-sizing: border-box;
}

/* Column width */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/* Column Desktop default */
/* .col-6 {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
} */

/* Main button */
.nav-button a.nav-button-section {
    background-color: var(--primary-button-color);
    color: var(--primary-font-color);
    text-decoration: none;
    font-family: var(--lato-font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    padding: 16px 32px;
    gap: 10px;
    border-radius: 48px;
}

.navigation-four ul.nav-ul-section {
    display: flex;
    gap: 40px;
}

.navigation-four ul.nav-ul-section li.nav-li-section {
    list-style-type: none;
}

.navigation-four ul.nav-ul-section li.nav-li-section a.nav-a-section {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.16px;
    font-weight: 400;
    font-family: var(--lato-font-family);
    color: var(--primary-font-color);

}

nav.navigation-ber .nav-img-and-home-nevber {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

.nav-small-img-and-home-nevber {
    display: none;
}

/* Discover Section Start */

.discover-of-better-section {
    position: relative;
    padding: 15px 0 15px 0;
}

.container-hero-discover {
    background-color: var(--primary-font-color);
    margin: 0 24px 0 24px;
    border-radius: 12px;
}

img.discover-main-svg-image {
    width: 100%;
}

.discover-hero-s-media {
    position: absolute;
    background-color: var(--background-color-blur);
    padding: 6px;
    border-radius: 70px;
    left: 80%;
    top: 5%;
    display: grid;
    gap: 8px;
}

.discover-hero-s-media a.s-media-hero-section i {
    background-color: var(--common-color);
    border-radius: 48px;
    padding: 16px;
    gap: 10px;
    color: var(--primary-font-color);
}

.active-verified-hero-section {
    position: absolute;
    background-color: var(--background-color-blur);
    padding: 20px 55px;
    gap: 45px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 5%;
    left: 3%;
}

h2.number-discover-section {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 100%;
    color: var(--common-color);
}

p.active-companies {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--common-color);
}

.line-discover-section {
    border: 1px solid var(--common-color);
    height: 70px;
}

.discover-hero-right-section {
    padding-top: 109px;
    padding-left: 18px;
}

.discover-right-section-images {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: var(--secondery-bg-color);
    padding: 4px 12px 4px 8px;
    border-radius: 40px;
}

p.discover-right-most-popular {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--sub-title);
}

h1.discover-right-heading-section {
    font-family: "Unbounded", sans-serif;
    color: var(--common-color);
    font-weight: 500;
    font-size: 50px;
    line-height: 125%;
    padding-top: 32px;
}

h1.discover-right-heading-section span.opportunities {
    color: var(--primary-button-color);
}

p.discover-para-section {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--sub-title);
    padding: 20px 0 40px 0;
}

.nav-button-section.button-padding {
    padding: 20px 40px !important;
}

.discover-successful-jobs {
    padding-top: 177px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

h3.number-job-holder {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: var(--primary-button-color);
    z-index: 22;
}

p.job-sucessful-member {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--bg-color-success);
}

.discover-zigzag-image img.discover-zigzag-image {
    position: absolute;
    top: 10%;
    left: -2%;
    width: 1392px;
    height: 824px;
}

.helping-businesses-find-great-talent {
    padding: 100px 69px 140px 69px;
}

/* Discover Section End */

/* Helping Businesses Marque Secion Start */

p.businesses-helping-section {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--primary-font-color);
    padding-bottom: 36px;
}

.marquee-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
    overflow: hidden;
    width: 100%;
    padding: 36px 0;
}

.marquee-track {
    display: flex;
    width: fit-content;
}

.marquee-left {
    animation: marquee-left 10s linear;
}

.scroll-card {
    padding: 10px;
    transition: transform 0.1s ease;
}

.scroll-card img {
    /* width: 100%; */
    border-radius: 8px;
}

@keyframes marquee-left {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-container:hover .marquee-left {
    animation-play-state: paused;
}

/* Helping Businesses Marque Secion End */

/* Media Screen Start */

@media screen and (max-width: 1399px) {}

@media screen and (max-width: 1199px) {
    p.active-companies {
        font-size: 12px;
    }

    h1.discover-right-heading-section {
        font-size: 40px;
    }

    .active-verified-hero-section {
        gap: 30px;
    }

    p.discover-para-section {
        font-size: 13px;
    }

    .discover-hero-right-section {
        position: relative;
        padding-top: 65px;
    }

    .discover-successful-jobs {
        padding-top: 100px;
    }

    .discover-zigzag-image img.discover-zigzag-image {
        position: absolute;
        top: -20%;
        left: -140%;
    }
}

@media screen and (max-width: 991px) {
    .col-6 {
        width: 100%;
    }

    .discover-hero-right-section {
        padding-top: 0;
    }

    .discover-zigzag-image img.discover-zigzag-image {
        position: absolute;
        top: -60%;
        left: -40%;
    }

    /* navber start */

    nav.navigation-ber .nav-img-and-home-nevber {
        display: none;
    }

    .nav-small-img-and-home-nevber {
        display: flex;
        justify-content: space-evenly;
        position: relative;
    }

    .navigation-small-four .all-nav-small-ul-section ul.nav-small-ul-section {
        list-style-type: none;
        padding-bottom: 40px;
    }

    .navigation-small-four .all-nav-small-ul-section ul.nav-small-ul-section li.nav-small-li-section a.nav-small-a-section {
        text-decoration: none;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: -0.16px;
        font-weight: 400;
        font-family: var(--lato-font-family);
        color: var(--primary-font-color);
    }

    /* Small Button */
    .nav-small-img-and-home-nevber .navigation-small-four .nav-small-button a.nav-small-button-section {
        background-color: var(--primary-button-color);
        color: var(--primary-font-color);
        text-decoration: none;
        font-family: var(--lato-font-family);
        font-size: 16px;
        font-weight: 500;
        line-height: 16px;
        padding: 16px 32px;
        gap: 10px;
        border-radius: 48px;
    }

    span.navber-small-span {
        display: block;
        width: 20px;
        height: 3px;
        background-color: var(--primary-font-color);
        margin: 5px 0;
        transition: 0.3s ease;
    }

    #menu-toggle {
        display: none;
    }

    .all-nav-small-ul-section {
        text-align: center;
    }

    li.nav-small-li-section {
        padding-bottom: 40px;
    }

    /* navber end */
}

@media screen and(max-width: 767px) {
    .col-6 {
        width: 100%;
    }
}

@media screen and(max-width: 575px) {
    .col-6 {
        width: 100%;
    }
}

/* Media Screen End */